### Pandas

 - DataFrames: - Estruturas de dados bidimensional, semelhante a uma tabela ou uma planilha.

 - Series: - Estrutura de dados unidimensional...Uma coluna de um DataFrame.

 - Indexação e Seleção: - Oferece várias maneiras de acessar e selecionar dados.

In [5]:
#Leitura de Dados

import pandas as pd

#Ler dados de um arquivo.csv
df = pd.read_csv('Base de dados - Dados sobre desgaste de funcionarios.csv')

# Visualização e Exploração
# Visualizar as primeiras linhas
# print(df.head())

#Obter informações sobre o Dataframe
# print(df.info)

# Manipulação de Dados
#Filtrar dados
df_filtro_idade = df[df['Idade']>30]
# print(df_filtro_idade)

#Filtrar dados
df_filtro_idade_vendas = df[(df['Idade']>30) & (df['Departamento'] == 'Vendas')]
# print(df_filtro_idade_vendas)

#Filtrar dados
df_filtro_idade_vendas2 = df[(df['Idade']>30) & (df['Departamento'] == 'Vendas')][['Idade', 'Escolaridade', 'Departamento', 'Total de anos trabalhados']]
# print(df_filtro_idade_vendas2)

#Adicionando uma nova coluna
df_filtro_idade_vendas2['email'] = None
# print(df_filtro_idade_vendas2)

df_ordenado = df_filtro_idade_vendas2[['Idade', 'Escolaridade', 'email', 'Departamento', 'Total de anos trabalhados']]
# print(df_ordenado)

#Tratamento de dados Faltantes
df_ordenado['email'].fillna("sem_email", inplace=True) #NaN
df_ordenado['email'].replace("","NaN", inplace=True) #NaN
# print(df_ordenado)

#Agrupar por uma coluna e calcular a média
df_agrupado = df_ordenado.groupby('Escolaridade')[['Idade','Total de anos trabalhados']].mean()
# print(df_agrupado)

#Adicionar a coluna com a categorização
def categorizar(row):
  if row['Total de anos trabalhados'] > 0 and row['Total de anos trabalhados'] <=12:
    return 'Novato'
  elif row['Total de anos trabalhados'] > 12 and row['Total de anos trabalhados'] <=20:
    return 'Intermédiário'
  elif row['Total de anos trabalhados'] > 20:
    return 'Vetereno'
  else:
    return 'Sem experiência'

df_agrupado['Categoria'] = df_agrupado.apply(categorizar, axis=1)
print(df_agrupado)

#axis=0 eixo de linhas ou eixo vertical (analiso coluna a coluna)
#axis=1 eixo de coluna ou eixo horizontal(analiso linha a linha)

                  Idade  Total de anos trabalhados      Categoria
Escolaridade
1             41.476190                  12.952381  Intermédiário
2             40.215385                  11.969231         Novato
3             40.530435                  14.060870  Intermédiário
4             39.252174                  12.660870  Intermédiário
5             42.071429                  14.500000  Intermédiário

C:\Users\paulo\AppData\Local\Temp\ipykernel_15916\3093422745.py:36: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_ordenado['email'].fillna("sem_email", inplace=True) #NaN
C:\Users\paulo\AppData\Local\Temp\ipykernel_15916\3093422745.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ordenado['email'].fillna("sem_email", inplace=True) #NaN
C:\Users\paulo\AppData\Local\Temp\ipykernel_15916\3093422745.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ordenado['email'].replace("","NaN", inplace=True) #NaN

In [1]:
import pandas as pd

#Criação de um DataFrame de exemplo
dados = {
    'Idade': [25,32,40,29],
    'Anos_Trabalhados': [3,10,20,15],
    'Salario': [5000,6000,8000,5500]
}

df=pd.DataFrame(dados)

#Somando os valores de cada coluna usando axis=0
soma_colunas = df.sum(axis=0)
# print(soma_colunas)

#Somando os valores de cada linha usando axis=1
soma_linhas = df.sum(axis=1)
print(soma_linhas)

0    5028
1    6042
2    8060
3    5544
dtype: int64

In [3]:
import pandas as pd
import numpy as np

# Criando um DataFrame de exemplo
data = {
    'nome': ['Ana', 'Bruno', 'Carla', 'Daniel', 'Eduarda', 'Felipe', 'Gabriela', 'Henrique'],
    'idade': [23, 45, np.nan, 36, 29, 41, 30, 36],
    'cidade': ['São Paulo', 'Rio de Janeiro', 'São Paulo', 'Rio de Janeiro', np.nan, 'São Paulo', 'Salvador', 'São Paulo'],
    'salario': [3000, 5000, 4500, np.nan, 3800, 5200, np.nan, 4800],
    'categoria': ['A', 'B', 'A', 'B', 'A', 'B', 'A', 'B']
}

df = pd.DataFrame(data)
# print(df)

## Remover Duplicatas
df = df.drop_duplicates()
# print(df)

##Tratar Dados Faltantes
## Detectar os dados faltantes
# print(df.isnull().sum()) # Conta os valores ausentes por coluna

## Preencher os valores faltantes idade e salario
df['idade'] = df['idade'].fillna(df['idade'].mean())
df['salario'] = df['salario'].fillna(df['salario'].mean())

# Preencher valores faltantes em cidade com "desconhecida"
df['cidade'] = df['cidade'].fillna('Desconhecida')
# print(df)

## Filtrar Dados
df_filtrado = df[(df['idade']>30) & (df['cidade'] == 'São Paulo')]
# print(df_filtrado)

## Alterar Tipos de Dados
df['idade'] = pd.to_numeric(df['idade'], errors='coerce')
df['categoria'] = df['categoria'].astype('category')
# print(df.dtypes)

## Renomear Colunas
df = df.rename(columns={'salario': 'salario_bruto'})
# print(df)

##Alterar a ordem das Colunas
df = df[['nome', 'cidade', 'idade', 'salario_bruto', 'categoria']]
# print(df)

##Manipulando String
df['nome'] = df['nome'].str.upper()
# print(df)

##Aplicar Funções Personalizadas
def calcular_imposto(salario):
  return salario * 0.1

df['imposto'] = df['salario_bruto'].apply(calcular_imposto)
# print(df)

##Classificação e Ordenação
df = df.sort_values(by='idade', ascending=True)
# print(df)

## Agrupamento e Agregação
df_agrupado = df.groupby('categoria')['salario_bruto'].mean()
print(df_agrupado)


## Remoção de Colunas
df = df.drop(columns=['imposto'])


##Criar uma nova coluna 'faixa_etaria' baseada na idade
df['idade'] = df['idade'].apply(lambda x: 'Jovem' if x < 30 else 'Adult')
print(df)

categoria
A    3920.833333
B    4845.833333
Name: salario_bruto, dtype: float64
       nome          cidade  idade  salario_bruto categoria
0       ANA       São Paulo  Jovem    3000.000000         A
4   EDUARDA    Desconhecida  Jovem    3800.000000         A
6  GABRIELA        Salvador  Adult    4383.333333         A
2     CARLA       São Paulo  Adult    4500.000000         A
7  HENRIQUE       São Paulo  Adult    4800.000000         B
3    DANIEL  Rio de Janeiro  Adult    4383.333333         B
5    FELIPE       São Paulo  Adult    5200.000000         B
1     BRUNO  Rio de Janeiro  Adult    5000.000000         B

C:\Users\paulo\AppData\Local\Temp\ipykernel_15916\2174628881.py:65: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df_agrupado = df.groupby('categoria')['salario_bruto'].mean()